/*:root {*/
/*    --accent-color: #8bc34a;*/
/*    --accent-color-hover: #5a9216;*/
/*    --dialog-background: white;*/
/*}*/

html, body, #root {
    height: 100%;
    width: 100%;
    /*max-height: 100%;*/
}

.accent-colored {
    background: var(--accent-color);
}

.btn-floating {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    /*background: var(--accent-color);*/
}
/*.btn-floating:hover,*/
/*.btn-floating:focus {*/
/*    background: var(--accent-color-hover);*/
/*}*/




.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}




.loader {
    /*justify-self: center;*/
    /*align-self: center;*/

    margin: auto;

    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/

    border: 0.5rem solid #f3f3f3; /* Light grey */
    border-top: 0.5rem solid gold; /* Blue */
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.action-btn {
    background-color: gold;
    color: black;
    padding: 0.3rem 0.5rem;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 0.3rem;
}
.action-btn:hover:not(:disabled) {
    opacity: 0.7;
}
.action-btn:disabled {
    background-color: #fff8e8;
    color: #363636;
    cursor: auto;
}

.small-icon {
    font-size: 14pt;
}

.small-action-btn {
    color: var(--neutral-color);
    transition: 0.2s;
}
.small-action-btn:hover,
.small-action-btn:focus {
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}



.dialog {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px;*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; !* Enable scroll if needed *!*/

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.dialog-content {

    position: absolute;
    top: 20%; left: 50%;
    transform: translateX(-50%);

    background: var(--dialog-background);
    /*background-color: #fefefe;*/
    /*margin: auto;*/

    padding: 2rem;
    border-radius: 0.5rem;
    /*border: 1px solid #888;*/
    width: 50%;
}
.dialog h4 {
    margin-top: 0;
}
.close-dialog-btn {
    float: right;
}


.error-toast {
    background: #A40808;
}

/*.input-field .prefix.active {*/
/*    color: var(--accent-color);*/
/*}*/

a {
    color: var(--accent-color);
    text-align: center;
    margin: 0;
}

.neutral-text-colored {
    color: var(--neutral-color);
}

.card-panel {
    cursor: pointer;
    border-radius: 0.3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
}