:root {
    --accent-color: #7cb342;
    --accent-color-hover: #5a9216;

    --dark-color: #323232;
    --neutral-color: rgba(0, 0, 0, 0.5);
    --clear-color: white;
    --text-color: black;
    --negative-text-color: #ff3b30;

    --active-text-color: rgba(255, 255, 255, 1);
    --inactive-text-color: rgba(255, 255, 255, 0.5);

    --dialog-background: white;
    --card-backgound: white;
    --content-container-background: #f1f1f1;
    --separator-color: #f1f1f1;
    --error-toast-color: #a40808;

    --validation-border: #a40808;
    --validation-text-color: #a40808;
    --validation-background: #ffcece;
}