.side-menu {
    height: 100%;
    width: auto;
    /*position: fixed;*/
    /*position: fixed;*/
    /*z-index: -1;*/
    float: left;
    /*top: 0;*/
    /*left: 0;*/
    background: #E1E2E1;
    /*overflow-x: hidden;*/
    padding-top: 2rem;
}
.side-menu div {
    /*padding: 6px 8px 6px 16px;*/
    padding: 0 1rem;
    text-decoration: none;
    /*font-size: 25px;*/
    color: #303030;
    cursor: pointer;
}
.side-menu div.active {
    background: #8bc34a;
    color: black;
}
.side-menu div:not(.active):hover {
    background: rgba(0, 0, 0, 0.1);
}
.home__empty-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 13rem;
}
.content {
    /*position: fixed;*/
    /*clear: left;*/
    height: auto;
    max-height: 100%;
    /*width: 100%;*/
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    /*width: initial;*/
    /*max-width: initial;*/

    overflow-y: auto;


    /*overflow-x: scroll;*/
    /*overflow: auto;*/
    /*margin-left: 13rem;*/
    /*font-size: 12pt;*/
}
/*.home__content .card {*/
/*    background: #ffe86f;*/
/*    position: relative;*/
/*    margin: 1rem;*/
/*    border-radius: 0.3rem;*/
/*    padding: 1rem;*/
/*    box-shadow:0 0.5rem 1rem -0.2rem #dddddd;*/
/*    cursor: pointer;*/
/*}*/
.card.invite-card {
    width: auto;
}
/*.card.room-card {*/
/*    width: 10rem;*/
/*}*/
.card-panel {
    cursor: pointer;
}

.room-card {
    width: 10rem;
    height: fit-content;
    margin: 0.5rem;
    /*opacity: 0.5;*/
}
.home__add-room-btn {
    position: fixed;
    /*display: none;*/
    bottom: 20px;
    right: 30px;
    /*z-index: 99;*/
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}


.container {
    padding: 16px;
    background-color: white;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.apply-btn {
    background-color: gold;
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.apply-btn:hover:not(:disabled) {
    opacity: 1;
}
.apply-btn:disabled {
    background-color: grey;
    color: #363636;
    cursor: auto;
}



.validation-errors {
    border: #A40808 solid 0.1rem;
    border-radius: 0.3rem;
    color: #A40808;
    background: #ffcece;
    padding: 1rem;
}


.room-tile-icons-container {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 0.3rem;
}



.nav-icon {
    margin-right: 0.3rem;
}