.side-menu {
    height: 100%;
    width: auto;
    /*position: fixed;*/
    /*position: fixed;*/
    /*z-index: -1;*/
    float: left;
    /*top: 0;*/
    /*left: 0;*/
    background: var(--dark-color);
    /*overflow-x: hidden;*/
    padding-top: 2rem;
}
.side-menu div {
    transition: 0.2s;
    /*padding: 6px 8px 6px 16px;*/
    /*padding: 0 1rem;*/
    text-decoration: none;
    /*font-size: 25px;*/
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.side-menu div.active {
    background: rgba(0, 0, 0, 0.3);
    /*background: #8bc34a;*/
    color: rgba(255, 255, 255, 1);
}
.side-menu span:not(.selection) {
    padding: 0 2rem 0 1rem;
}
.side-menu .selection {
    width: 0.3rem;
    height: auto;
    /*height: 100%;*/
    float: left;
    /*display: block;*/
    transition: 0.2s;
}
.side-menu div:not(.active):hover {
    background: rgba(0, 0, 0, 0.1);
}
.home__empty-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 13rem;
}
.content {
    /*position: fixed;*/
    /*clear: left;*/

    /*height: auto;*/
    /*max-height: 100%;*/
    height: 100%;
    width: 100%;

    /*width: 100%;*/
    float: left;
    padding: 1.5rem;
    /*width: initial;*/
    /*max-width: initial;*/

    background: var(--content-container-background);
    box-shadow: -0.5rem 0 1rem -0.2rem rgba(0, 0, 0, 0.5);



    overflow-y: auto;


    /*overflow-x: scroll;*/
    /*overflow: auto;*/
    /*margin-left: 13rem;*/
    /*font-size: 12pt;*/
}

.cards-container {
    /*height: auto;*/
    display: flex;
    flex-wrap: wrap;
    /*width: 100%;*/
}
/*.home__content .card {*/
/*    background: #ffe86f;*/
/*    position: relative;*/
/*    margin: 1rem;*/
/*    border-radius: 0.3rem;*/
/*    padding: 1rem;*/
/*    box-shadow:0 0.5rem 1rem -0.2rem #dddddd;*/
/*    cursor: pointer;*/
/*}*/
.card.invite-card {
    width: auto;
}
/*.card.room-card {*/
/*    width: 10rem;*/
/*}*/


.room-card {
    cursor: pointer;
    width: 15rem;
    height: fit-content;
    margin: 0.5rem;
    /*background: #dff6bf;*/
    /*opacity: 0.5;*/
}
.invite-card {
    width: 20rem;
    height: fit-content;
    margin: 0.5rem;
}
.profile-card {
    padding: 0;
    width: 50%;
    height: fit-content;
    margin: 0.5rem;
}

.profile-card h3,
.profile-card h5 {
    margin: 0;
}

.profile-decorator-line {
    margin-right: 1rem;
    width: 1rem;
    height: auto;
    float: left;
    background: var(--accent-color);
}

.card-panel .action-section {
    margin: 0;
    padding-top: 1rem;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.home__add-room-btn {
    position: fixed;
    /*display: none;*/
    bottom: 20px;
    right: 30px;
    /*z-index: 99;*/
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}


/*.container {*/
/*    padding: 16px;*/
/*    background-color: white;*/
/*}*/


/*input[type=text], input[type=password] {*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    margin: 5px 0 22px 0;*/
/*    display: inline-block;*/
/*    border: none;*/
/*    background: #f1f1f1;*/
/*}*/

/*input[type=text]:focus, input[type=password]:focus {*/
/*    background-color: #ddd;*/
/*    outline: none;*/
/*}*/

/*.apply-btn {*/
/*    background-color: gold;*/
/*    color: black;*/
/*    padding: 16px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    opacity: 0.9;*/
/*}*/
/*.apply-btn:hover:not(:disabled) {*/
/*    opacity: 1;*/
/*}*/
/*.apply-btn:disabled {*/
/*    background-color: grey;*/
/*    color: #363636;*/
/*    cursor: auto;*/
/*}*/


.room-tile-icons-container {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 1rem;
}


.small-action-btn.negative {
    /*color: #FF3B30;*/
}
.small-action-btn.positive {
    color: var(--accent-color);
}

